{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}{{uni.name}}{% endblock title %}

{% block body %}
    <div class="container mt-3">
        
        <div class="card text-center bg-light">
            <div class="card-body fs-1">
                {{uni.name}}
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="card mb-3 position-absolute top-10 start-50 translate-middle-x bg-light" style="max-width:500px">
                <img src="{{uni.logo_pic.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="{% url 'home:university' uni.id %}" class="text-decoration-none text-black">
                        <h5 class="card-title">{{uni.name}} ({{uni.acronym}})</h5>
                    </a>
                    <p class="card-text">شهر: {{uni.city}}</p>
                    <p class="card-text">کشور: {{uni.city.country.name}}</p>
                    <p class="card-text">نوع: {{uni.uni_type}}</p>
                    <p class="card-text">تعداد دانشجو: {{uni.total_students}}</p>
                    <p class="card-text">تعداد دانشجوهای بین‌المللی: {{uni.international_students}}</p>
                    <p class="card-text">سال تاسیس: {{uni.date_established.year}}</p>
                    <p class="card-text">توضیحات: {{uni.overview}}</p>
                    <p class="card-text"><small class="text-muted">وبسایت: <a target="_blank" class="text-left" href="{{uni.website}}">{{uni.website}}</a></small></p>
                </div>
              </div>
        </div>
        
    </div>
    
    
{% endblock body %}
    
    
    
    {% for uni in universities %}
        <div class="col-6 mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="">
                            <img src="{{uni.logo_pic.url}}" class="img-thumbnail rounded-start" alt="...">
                        </a>
                    </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="" class="text-decoration-none text-black">
                            <h5 class="card-title">{{uni.name}} ({{uni.acronym}})</h5>
                        </a>
                        <p class="card-text">شهر: {{uni.city}}</p>
                        <p class="card-text">کشور: {{uni.city.country.name}}</p>
                        <p class="card-text">نوع: {{uni.uni_type}}</p>
                        <p class="card-text">تعداد دانشجو: {{uni.total_students}}</p>
                        <p class="card-text">تعداد دانشجوهای بین‌المللی: {{uni.international_students}}</p>
                        <p class="card-text">سال تاسیس: {{uni.date_established.year}}</p>
                        <p class="card-text"><small class="text-muted">وبسایت: <a target="_blank" class="text-left" href="{{uni.website}}">{{uni.website}}</a></small></p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{uni.id}}" aria-expanded="false" aria-controls="collapse{{uni.id}}">
                            توضیحات
                        </button>
                        <p class="collapse card-text mt-3" id="collapse{{uni.id}}">
                            {{uni.overview}}
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}