{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}لیست دانشگاه‌ها{% endblock title %}

{% block body %}
    <div class="container mt-3">
        
        <div class="card text-center bg-light">
            <div class="card-body fs-1">
            لیست دانشگاه‌ها
            </div>
        </div>

        {% comment %} search {% endcomment %}
        <div class="card text-right bg-light mt-3">
            <div class="card-body ">
                <form action="{% url 'home:universities' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="search" name="search" placeholder="جستجو">
                    </div>
                    <button type="submit" class="btn btn-primary">جستجو</button>
                </form>
            </div>
        </div>

        {% comment %} filter {% endcomment %}
        <div class="card text-right bg-light mt-3">
            <div class="card-body row">
                <h4 class="mb-3">فیلتر</h4>
                <div class="col-6 col-md-3">
                    <h5>کشورها</h5>
                    {% for country in countries %}
                    <div class="form-check d-inline-block mx-3">
                        <a href="{% url 'home:filter' country.name %}" class="text-decoration-none text-black">
                            <input class="form-check-input" type="checkbox" id="{{country.name}}" {% if country.name == keyword %}checked{% endif %}>
                            <label class="form-check-label" for="{{country.name}}">
                                <a {% if country.name == keyword %}href="{% url 'home:filter' 'None' %}"{% else %}href="{% url 'home:filter' country.name %}"{% endif %} class="text-black text-decoration-none">
                                    {{country.name}}
                                </a>
                            </label>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="col-6 col-md-3">
                    <h5>شهرها</h5>
                    {% for city in cities %}
                    <div class="form-check d-inline-block mx-3" style="z-index: -1;">
                        <label class="form-check-label" for="{{city.name}}">
                            <input class="form-check-input" type="checkbox" id="{{city.name}}" {% if city.name == keyword %}checked{% endif %}>
                            <a {% if city.name == keyword %}href="{% url 'home:filter' 'None' %}"{% else %}href="{% url 'home:filter' city.name %}"{% endif %} class="text-black text-decoration-none">
                                {{city.name}}
                            </a>
                        </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="row mt-3 mb-3">
            {% for uni in page_obj %}
                <div class="col-6 mb-3">
                    <div class="card mb-3 bg-light" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="{% url 'home:university' uni.id %}">
                                    <img src="{{uni.logo_pic.url}}" class="img-thumbnail rounded-start" alt="...">
                                </a>
                            </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="{% url 'home:university' uni.id %}" class="text-decoration-none text-black">
                                    <h5 class="card-title">{{uni.name}} ({{uni.acronym}})</h5>
                                </a>
                                <p class="card-text">شهر: {{uni.city}}</p>
                                <p class="card-text">کشور: {{uni.city.country.name}}</p>
                                <p class="card-text">نوع: {{uni.uni_type}}</p>
                                <p class="card-text">تعداد دانشجو: {{uni.total_students}}</p>
                                <p class="card-text">تعداد دانشجوهای بین‌المللی: {{uni.international_students}}</p>
                                <p class="card-text">ریت پذیرش: {{uni.acceptance_rate}}</p>
                                <p class="card-text">سال تاسیس: {{uni.date_established.year}}</p>
                                <p class="card-text"><small class="text-muted">وبسایت: <a target="_blank" class="text-left" href="{{uni.website}}">{{uni.website}}</a></small></p>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{uni.id}}" aria-expanded="false" aria-controls="collapse{{uni.id}}">
                                    توضیحات
                                </button>
                                <p class="collapse card-text mt-3" id="collapse{{uni.id}}">
                                    {{uni.overview}}
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                {% empty %}
                <h1 class="text-center mt-3 mb-3">
                    دانشگاهی یافت نشد
                </h1>
            {% endfor %}
        </div>

        {% comment %} paginator {% endcomment %}
        <nav class="mb-5" dir="ltr">
            <ul class="pagination pagination-lg justify-content-center">
                {% comment %} prev button {% endcomment %}
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#!" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% comment %} all pages {% endcomment %}
                {% for number in num_pages %}
                {% if number == page_obj.number %}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
                {% endif %}
                {% endfor %}

                {% comment %} next button {% endcomment %}
                {% if page_obj.has_next  %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#!" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>


{% endblock body %}